@font-face {
	font-family: "Lato";
	src: url("../assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
	font-family: "Playfair Display";
	src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}

html {
	scroll-behavior: smooth;
}
.hidden {
	display: none;
}

/* TEXT */
h2,
h3,
h5,
p {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

h5 {
	font-family: "Lato";
	color: #2178ff;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 8px;
}

h2 {
	font-family: "Playfair Display";
	color: #444444;
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 16px;
}

h3 {
	font-family: "Playfair Display";
	color: #444444;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 40px;
}

p {
	font-family: "Lato";
	color: #848686;
	font-size: 16px;
	line-height: 24px;
}

/* BUTTONS */

button {
	cursor: pointer;
}

button.btn-simple {
	background: transparent;
	border: none;
	text-decoration: underline;
	-webkit-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	font-family: "Lato";
	font-size: 15px;
}

button.btn-cta {
	background-color: transparent;
	border: 1px solid #2178ff;
	border-radius: 2px;
	text-decoration: none;
	-webkit-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;

	width: 100%;

	color: #2178ff;
	font-family: "Lato";
	font-size: 16px;
	line-height: 20px;
	padding: 14px 5px;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	transition: background-color 0.1s linear, color 0.1s linear;
}

button.btn-cta:hover {
	background-color: #2178ff;
	color: white;
}

body {
	background-color: #f9f9f9;
}

.maxwidth-container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
}

header {
	height: 50px;
	display: flex;
	justify-content: space-between;
	position: fixed;
	background: #f9f9f9;
	left: 0;
	right: 0;
	z-index: 4;
	padding: 0 20px;
	max-width: 1024px;
	margin: auto;
}

.articles {
	padding-bottom: 40px;
	padding-top: 50px;
}

article {
	padding: 40px;
	margin-bottom: 20px;
}

article.image {
	background-color: white;
}

article.image .article-inner {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

article.image .image-container {
	max-width: 100%;
	width: 100%;
	flex-basis: 50%;
	padding-top: 40px;
	float: right;
	order: 99;
}

article .image-holder {
	width: 100%;
	padding-bottom: 56.25%;
	background-size: cover;
	background-position: center;
}

article.cta .article-inner {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

article.cta .text-container {
	flex-basis: 70%;
}

article.cta .button-container {
	flex-basis: 30%;
	display: flex;
	align-items: center;
	margin-top: 40px;
}

article.simple .text-container {
	flex-basis: 100%;
}

article.image .text-container {
	display: flex;
	flex-direction: column;

	font-family: "Lato";
	color: #848686;
	font-size: 16px;
	line-height: 24px;

	width: 100%;
}

.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

	display: none;
}
.sidebar .element {
	position: relative;
	padding: 14px 16px;
}
.sidebar .circle {
	border-radius: 50%;
	width: 16px;
	background-color: #444444;
	height: 16px;
	position: relative;
	transition: background-color 0.25s ease-in-out;
}
.sidebar .text {
	position: absolute;
	top: 0;
	width: 192px;
	bottom: 0;
	display: flex;
	align-items: center;
	padding-left: 48px;
	left: 0;
	background: white;
	transform: translateX(-100%);
	color: #2178ff;
	transition: all 0.25s ease-in-out;
	opacity: 0;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(132, 134, 134, 1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(132, 134, 134, 1);
	box-shadow: 0px 2px 5px 0px rgba(132, 134, 134, 1);

	font-family: "Lato";
	color: #2178ff;
	font-size: 16px;
	line-height: 20px;
}
.sidebar .element:hover .text {
	transform: translateX(0);
	transition: transform 0.25s ease-in-out;

	opacity: 1;
}
.sidebar .element:hover .circle {
	background-color: #2178ff;
}

header .toggle-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 21px;
	cursor: pointer;
}

header .circle {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #2178ff;
}

header .pages {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 50px;
	-webkit-box-shadow: 3px 3px 3px -3px rgba(132, 134, 134, 1),
		3px 3px 3px -3px rgba(132, 134, 134, 1),
		-3px 3px 3px -3px rgba(132, 134, 134, 1);
	-moz-box-shadow: 3px 3px 3px -3px rgba(132, 134, 134, 1),
		3px 3px 3px -3px rgba(132, 134, 134, 1),
		-3px 3px 3px -3px rgba(132, 134, 134, 1);
	box-shadow: 3px 3px 3px -3px rgba(132, 134, 134, 1),
		3px 3px 3px -3px rgba(132, 134, 134, 1),
		-3px 3px 3px -3px rgba(132, 134, 134, 1);

	overflow: auto;
	max-height: 0;
	transition: max-height 0.2s ease-in-out;
}

header.open .pages {
	max-height: 50vh;
}

header .pages > a {
	padding-left: 16px;
	height: 44px;
	display: flex;
	align-items: center;
	background: white;
	border-bottom: 1px solid #f1f2f2;
	cursor: pointer;
	text-transform: none;

	font-family: "Lato";
	color: #848686;
	font-size: 16px;
	line-height: 24px;
}
header .pages > a:hover {
	color: white;
	background: #2178ff;
	border-bottom: 1px solid #f1f2f2;
}

/* EDIT BOX MODAL */

.form-modal {
	position: fixed;
	top: -100%;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	z-index: 6;
	opacity: 0;

	background-color: rgba(245, 245, 245, 0.9);

	font-family: "Lato", "sans-serif";

	transition: top 0.2s linear, opacity 0.2s linear;

	overflow: hidden;
}

.form-modal .edit-box {
	width: 80vw;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.form-modal form {
	padding: 40px 25px;
	background: white;
}

.form-modal h3 {
	font-size: 20px;
	line-height: 20px;
	color: #444444;
	font-family: "Lato", sans-serif;
}

.form-modal label {
	width: 100%;
	color: #2178ff;
	font-size: 16px;
	line-height: 20px;

	display: block;
	padding-bottom: 8px;
}
.form-modal input[type="text"],
.form-modal textarea {
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	color: #848686;

	padding: 14px 16px;
	border-radius: 2px;
	border: 1px solid #848686;

	outline: none;
	margin-bottom: 24px;

	box-sizing: border-box;

	resize: none;
}

.form-modal .two-column-form {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.form-modal input[name="image"] {
	margin-bottom: 3px;
}
.form-modal .small-checkbox {
	font-size: 14px;
	line-height: 16px;
	color: #444444;
}

.form-modal .column {
	flex: 1;
	padding-top: 20px;
}
.form-modal .two-column-form .column:last-of-type {
	padding-left: 0px;
}

.form-modal .buttons-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 40px;
	margin-bottom: 40px;
	flex-direction: column-reverse;
}

.form-modal .close-container {
	padding-top: 40px;
}
.form-modal .close-container .btn-simple {
	text-decoration: none;
}
.form-modal .add-container {
	min-width: 200px;
}

.form-modal .error-holder {
	text-align: right;
}
.form-modal .error-holder p {
	color: red;
	display: none;
}

.form-modal .error-holder p.show {
	display: inline;
}

body.modal-open {
	overflow: hidden;
}

.modal-open .form-modal {
	opacity: 1;
	top: 0;

	overflow: auto;
}

/* MEDIA QUERIES */

@media (min-width: 480px) {
	/* MODAL */
	.form-modal .two-column-form {
		flex-direction: row;
	}

	.form-modal .column {
		flex: 1;
		padding-top: 20px;
	}
	.form-modal .two-column-form .column:last-of-type {
		padding-left: 24px;
	}

	/* IMAGE ARTICLE */
	article.image .image-container {
		padding: 0;
		padding-left: 18px;
	}
	article.image .article-inner {
		flex-direction: row;
	}

	/* CTA ARTICLE */

	article.cta .article-inner {
		flex-direction: row;
	}

	article.cta .button-container {
		margin-top: 0;
		margin-left: 10px;
	}

	.sidebar {
		display: flex;
	}

	header .toggle-menu {
		display: none;
	}

	.maxwidth-container {
		padding: 0 48px;
	}

	article.image .image-container {
		max-width: 45%;
	}
	article.image.left .image-container {
		float: left;
		padding-left: 0;
		padding-right: 20px;
	}
	article.image .text-container {
		display: block;
	}
	.form-modal form {
		padding: 40px 78px;
		background: white;
	}
	.form-modal .buttons-container {
		margin-bottom: 40px;
		flex-direction: row;
	}
	.form-modal .close-container {
		padding-right: 40px;
		padding-top: 0;
	}
}
